body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f9ffc2;
}

.calculator {
  width: 300px;
  padding: 20px;
  background-color: #000000de;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  margin: 30px;
}

.display {
  resize: none;
  width: 100%;
  height: 50px;
  font-size: 30px;
  font-family: sans-serif;
  padding: 10px;
  box-sizing: border-box;
  border: solid 2px rgba(255, 255, 255, 0.356);
  border-radius: 15px;
  margin-bottom: 15px;
  color: rgb(255, 255, 255);
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

button {
  width: 100%;
  height: 50px;
  font-size: 30px;
  border: none;
  background-color: #f1f1f1;
  border-radius: 20px;
  cursor: pointer;
}

button.operator {
  background-color: #ffa500;
}

button.equals {
  background-color: #7cb342;
}